body {
  font: 14px/150% '\5FAE\8F6F\96C5\9ED1', Verdana, Arial, Helvetica, sans-serif;
  background: url(../img/project/bg.png) repeat;
  color: #fff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, a, span, i, b {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, input {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

i {
  font-style: normal;
}

i, em {
  display: inline-block;
}

a {
  display: inline-block;
  width: auto;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

input:focus {
  outline: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  font-size: 0;
}

.f-ov-h {
  overflow: hidden !important;
}

.f-ta-c {
  text-align: center !important;
}

.f-fr {
  float: right;
}

.f-fl {
  float: left;
}

.f-mt10 {
  margin-top: 10px !important;
}

.f-ml10 {
  margin-left: 10px !important;
}

.f-mr10 {
  margin-right: 10px !important;
}

.f-mb10 {
  margin-bottom: 10px !important;
}

.g-admin-head {
  width: 1200px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.g-admin-head ul {
  float: left;
}

.g-admin-head ul li {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 60px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  vertical-align: top;
  background-color: #f1ef23;
  cursor: pointer;
  transition: all .5s;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.g-admin-head ul li.second {
  background-color: #3cf12e;
}

.g-admin-head ul li.third {
  background-color: #1a93ff;
}

.g-admin-head ul li.forth {
  background-color: #f63b34;
}

.g-admin-head ul li.z-active,
.g-admin-head ul li:hover {
  height: 80px;
  line-height: 120px;
}

.g-admin-body {
  width: 1200px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

aside.m-admin-nav {
  float: left;
  width: 300px;
  margin-top: 20px;
}

aside.m-admin-nav ul li {
  width: 250px;
  height: 45px;
  line-height: 45px;
  color: #666;
  text-align: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  transition: all .5s;
}

aside.m-admin-nav ul li:hover,
aside.m-admin-nav ul li.z-active {
  width: 280px;
}

aside.m-admin-nav ul li.first {
  background-color: #fdb7b5;
}

aside.m-admin-nav ul li.second {
  background-color: #b1daff;
}

aside.m-admin-nav ul li.third {
  background-color: #afffa9;
}

aside.m-admin-nav ul li.forth {
  background-color: #fffeab;
}

.m-admin-main {
  float: left;
  width: 870px;
  margin-top: 10px;
  margin-left: 30px;
}

.m-admin-main p.m-blog-new {
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
}

.m-blog-list li {
  margin-top: 15px;
  margin-left: 25px;
  font-size: 15px;
  list-style: circle;
  cursor: pointer;
}

.m-pop-mask {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #b1daff;
  opacity: 0.6;
}

.u-search {
  float: right;
  width: 300px;
  height: 30px;
  margin-top: 25px;
  border: 2px solid #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.u-search input.u-input-nbor {
  width: 250px;
  height: 30px;
  padding-left: 10px;
  color: #fff;
  background-color: transparent;
  border: none;
}

.u-icon-search .u-search-btn {
  display: inline-block;
  width: 21px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background: url(../img/project/icon-search.png);
}

.u-blog-edit {
  float: right;
  margin-right: 10px;
}

.u-blog-edit:hover {
  text-decoration: underline;
}

.u-btn {
  display: inline-block;
  padding: 5px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.u-btn.bg-blue {
  background-color: #1a93ff;
}

.u-btn.bg-blue:hover {
  background-color: #007ca6;
}

.u-icon-search {
  width: 30px;
  height: 30px;
  background-color: #1a93ff;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.u-icon-add {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  vertical-align: bottom;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.u-icon-lock {
  width: 11px;
  height: 15px;
  margin-top: -3px;
  margin-left: 5px;
  background: url(../img/project/icon-lock.png);
  background-size: 100% 100%;
  vertical-align: middle;
}

.m-page-nav {
  padding: 60px 0 15px;
  text-align: center;
}

.m-page-nav ul li {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0 2px;
  color: #666;
  background-color: #fffeab;
  border: 1px solid #f1ef23;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.m-page-nav ul li:hover {
  background-color: #b1daff;
  border-color: #1a93ff;
}

.m-page-nav ul li.ellipsis {
  color: #fff;
  background-color: transparent;
  border: none;
}

.m-page-nav ul li.ellipsis a {
  cursor: text;
}

.m-page-nav ul li a {
  display: inline-block;
  height: 30px;
  padding: 0 15px;
}

.logo {
  position: absolute;
  top: 50%;
  margin-top: -53px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 106px;
}

.index-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  border: 20px solid #f63b34;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}

.index-pic img {
  width: 100%;
}

.index-pic.index-yy {
  margin-top: -330px;
  margin-left: -330px;
  border-color: #f1ef23;
}

.index-pic.index-yhy {
  margin-top: -280px;
  margin-left: 150px;
  border-color: #3cf12e;
}

.index-pic.index-blog {
  margin-top: 80px;
  margin-left: -450px;
  border-color: #1a93ff;
}

.index-pic.index-photo {
  margin-top: 30px;
  margin-left: 250px;
  border-color: #f63b34;
}

@keyframes ball1 {
  from {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    transform: scale(0.1, 0.1) rotate(500deg);
  }
  25% {
    top: 50%;
    left: 50%;
    margin-top: 80px;
    margin-left: -450px;
    transform: scale(1, 1) rotate(500deg);
  }
  50% {
    top: 50%;
    left: 50%;
    margin-top: 30px;
    margin-left: 250px;
    transform: scale(1, 1) rotate(500deg);
  }
  75% {
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: 150px;
    transform: scale(1, 1) rotate(500deg);
  }
  100% {
    top: 50%;
    left: 50%;
    margin-top: -330px;
    margin-left: -330px;
    transform: scale(1, 1) rotate(0);
  }
}
@keyframes ball2 {
  from {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    transform: scale(0.1, 0.1) rotate(500deg);
  }
  25% {
    top: 50%;
    left: 50%;
    margin-top: 80px;
    margin-left: -450px;
    transform: scale(1, 1) rotate(500deg);
  }
  50% {
    top: 50%;
    left: 50%;
    margin-top: 30px;
    margin-left: 250px;
    transform: scale(1, 1) rotate(500deg);
  }
  75% {
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: 150px;
    transform: scale(1, 1) rotate(0);
  }
  100% {
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: 150px;
    transform: scale(1, 1) rotate(0);
  }
}
@keyframes ball3 {
  from {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    transform: scale(0.1, 0.1) rotate(500deg);
  }
  25% {
    top: 50%;
    left: 50%;
    margin-top: 80px;
    margin-left: -450px;
    transform: scale(1, 1) rotate(500deg);
  }
  50% {
    top: 50%;
    left: 50%;
    margin-top: 30px;
    margin-left: 250px;
    transform: scale(1, 1) rotate(0);
  }
  100% {
    top: 50%;
    left: 50%;
    margin-top: 30px;
    margin-left: 250px;
    transform: scale(1, 1) rotate(0);
  }
}
@keyframes ball4 {
  from {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    transform: scale(0.1, 0.1) rotate(500deg);
  }
  25% {
    top: 50%;
    left: 50%;
    margin-top: 80px;
    margin-left: -450px;
    transform: scale(1, 1) rotate(0deg);
  }
  100% {
    top: 50%;
    left: 50%;
    margin-top: 80px;
    margin-left: -450px;
    transform: scale(1, 1) rotate(0);
  }
}
.index-pic.index-yy {
  -webkit-animation: ball1 2s linear;
  -moz-animation: ball1 2s linear;
  animation: ball1 2s linear;
}

.index-pic.index-yhy {
  -webkit-animation: ball2 2s linear;
  -moz-animation: ball2 2s linear;
  animation: ball2 2s linear;
}

.index-pic.index-photo {
  -webkit-animation: ball3 2s linear;
  -moz-animation: ball3 2s linear;
  animation: ball3 2s linear;
}

.index-pic.index-blog {
  -webkit-animation: ball4 2s linear;
  -moz-animation: ball4 2s linear;
  animation: ball4 2s linear;
}

@-webkit-keyframes logindiv {
  from {
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
  }
  30% {
    -webkit-box-shadow: 0 0 40px #fff;
    box-shadow: 0 0 40px #fff;
  }
  50% {
    -webkit-box-shadow: 0 0 3px #fff;
    box-shadow: 0 0 3px #fff;
  }
  80% {
    -webkit-box-shadow: 0 0 20px #fff;
    box-shadow: 0 0 20px #fff;
  }
  100% {
    -webkit-box-shadow: 0 0 0px #fff;
    box-shadow: 0 0 0px #fff;
  }
}
@keyframes logindiv {
  from {
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
  }
  30% {
    -webkit-box-shadow: 0 0 40px #fff;
    box-shadow: 0 0 40px #fff;
  }
  50% {
    -webkit-box-shadow: 0 0 3px #fff;
    box-shadow: 0 0 3px #fff;
  }
  80% {
    -webkit-box-shadow: 0 0 20px #fff;
    box-shadow: 0 0 20px #fff;
  }
  100% {
    -webkit-box-shadow: 0 0 0px #fff;
    box-shadow: 0 0 0px #fff;
  }
}
.m-admin-login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -200px;
  width: 400px;
  height: 260px;
  padding: 20px;
  border: 3px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
  -webkit-animation: logindiv 5s linear infinite;
  -moz-animation: logindiv 5s linear infinite;
  animation: logindiv 5s linear infinite;
}

.m-admin-login h3 {
  font-size: 24px;
  color: #ccc;
  text-align: center;
}

.u-input {
  display: block;
  width: 300px;
  height: 34px;
  padding: 0 5px;
  margin: 30px auto;
  color: #fff;
  line-height: 34px;
  background-color: transparent;
  outline: none;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.u-admin-index-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin-top: -210px;
  margin-left: -400px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.u-input.u-btn {
  text-align: center;
  cursor: pointer;
}

.m-new-blog {
  padding-bottom: 80px;
}

.m-new-blog > li {
  margin-top: 20px;
}

.m-new-blog li > span {
  display: inline-block;
  width: 120px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  vertical-align: top;
  text-align: right;
}

.m-new-blog li input {
  display: inline-block;
  width: 700px;
  height: 30px;
  line-height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.m-new-blog li .u-ueditor {
  display: inline-block;
  width: 700px;
  height: 500px;
}

.u-select {
  position: relative;
  display: inline-block;
}

.u-select .u-select-input {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 30px;
  padding: 5px;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.u-select .u-select-input input {
  display: inline-block;
  width: 130px;
  height: 20px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.u-select .u-select-input em {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.u-select-drop {
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  width: 160px;
  padding: 5px;
  color: #333;
  background-color: #fdb7b5;
  border: 1px solid #fff;
  cursor: pointer;
}

.u-select-drop ul li {
  padding: 5px;
  text-align: center;
  border-bottom: 1px dotted #333;
}

.u-select-drop ul li:hover {
  background-color: #f63b34;
}

.m-label-cont {
  display: inline-block;
  width: 700px;
}

.m-label-cont .m-label-input {
  border: 2px solid #fff;
  cursor: text;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.m-label-cont .m-label-input input {
  width: 200px;
  border: none;
}

.m-label-useful dt {
  padding: 10px 0;
  font-size: 16px;
}

.m-label-useful dd a {
  display: inline-block;
  padding: 2px 6px;
  margin-right: 5px;
  margin-bottom: 10px;
  color: #333;
  background-color: #ccc;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.m-authority {
  display: inline-block;
}

.m-authority ul li {
  display: inline-block;
  width: 200px;
  height: 30px;
  padding: 5px 0 5px 5px;
  margin-top: 0px;
  margin-right: 15px;
  border: 1px solid #fff;
  cursor: pointer;
}

.m-authority ul li span {
  width: 150px;
  margin-right: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}

.m-authority ul li em {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-top: -5px;
  float: right;
  border-left: 1px solid #fff;
}

.m-authority ul li:hover em,
.m-authority ul li.z-active em {
  background: url(../../build/img/project/icon-check.png) center center no-repeat;
  background-size: 60% 60%;
}

.m-pop {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 2;
  display: none;
  padding: 0 0 20px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.m-pop.m-addtype {
  width: 400px;
  margin-left: -200px;
}

.m-pop-title {
  height: 30px;
  padding: 10px;
  line-height: 30px;
  background-color: #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.m-pop-title span {
  font-size: 16px;
  color: #333;
}

.m-pop-title em {
  float: right;
  display: inline-block;
  width: 20px;
  height: 4px;
  background: #f63b34;
  font-size: 0;
  line-height: 0;
  margin-top: 12px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
}

.m-pop-title em:after {
  content: '.';
  display: block;
  width: 20px;
  height: 4px;
  background: #f63b34;
  -webkit-transform: rotate(-90deg);
}

.m-pop-body {
  text-align: center;
}

.m-pop-body input {
  display: block;
  width: 60%;
  padding: 5px;
  margin: 20px auto;
  border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.m-label-1 {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-left: 5px;
  padding: 3px 5px;
  font-size: 12px;
  color: #ccc;
  background-color: #007ca6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.m-label-1 em {
  width: 12px;
  height: 12px;
  margin-top: -3px;
  margin-left: 5px;
  vertical-align: middle;
  background: url(../../build/img/project/tag-del.png) no-repeat;
  background-position: left top;
}

.m-label-1 em:hover {
  background-position: left -12px;
}

.u-blog-title {
  padding: 10px 0;
  font-size: 24px;
  color: #b1daff;
}

.u-blog-author {
  padding: 10px 0;
}

.u-blog-time,
.u-blog-author {
  color: #fffeab;
}

/*# sourceMappingURL=style.css.map */
